<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> </title>
    </head>
    <body>
      <h1>your name is <%= name1 %> </h1>
      <h1>your name is <%= name2 %> </h1>
      <h1>player 1 HP is: </h1>
      <input id="submit1" type="submit" value="player 1 attack button">
      <h1>player 2 HP is: </h1>
      <input id="submit2" type="submit" value="player 2 attack button">

    </body>
  </html>
