<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> </title>
    </head>
    <body>
      <h1>Current player is <%= name1 %> </h1>
      <h1>Current player HP is: <%= health1 %> </h1>
      <h1>Other player is <%= name2 %> </h1>
      <h1>Other player HP is: <%= health2 %> </h1>
    <form action="/turn" method="post">
      <input type="submit" value="attack">
    </form>
    </body>
  </html>
